*{
  padding: 0;
  margin: 0;
}

.green{
  color: green;
  font-weight: bold;
  font-size: 15px;
}

.red{
  color: #aaa;
  font-size: 15px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 24px;
  
}

.container{
  margin-top: 150px;
  padding: 80px;
  width: 18rem;
  height: 14rem;
  border-radius: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}